/*title box, container - 5 boxes, 3 boxes are divided into 2 each.
total height and width - 900x975px */

.container{
    background-color: #49363e;
    width: 100%;
    height: 100%;;
}

.header{
    background-color: #f6f6f6;
    width: 100%;
    height: 20%;
    display: inline-block;
}
.header h1{
    font-style: Gotham-Rounded-Book;
    float: left;
    color: black;
    margin:5px;
}

.header h2{
    font-style: Gotham-Rounded-Book;
    float: right;
    color: black;
    margin: 5px;

}
.box1{
    display: inline-block;
    float: left;
    width: 600px;
    height: 400px;
    margin: 50px;
    border-style: double;
}

.box1 img{
    border-style: solid;
    border-color: #c1c1c1;
    border-width: 5px;
    width: 98%;
    height: 98%;
}

.box2{
    display: inline-block;
    width: 700px;
    height: 400px;
    margin: 50px 50px 50px 0px;
    border-style: double;
    background-color: #bcb3b3;
}

.box2 h2{
    background-color: #a9a9ae;
    padding: 10px;
    margin: 0px;
    width: 680px;
    height: 25px;

}

.box2 p{
    padding: 10px;
    margin: 0px;
}

/*la mode */

.box3{
    background-color: #a9a9ae;
    width: 450px;
    height: 800px;
    margin: 20px;
    border-style: double;
    display: inline-block;
    float: left;
}

.box3 h3{
    width: 410px;
    height: 20px;
    padding: 5px;
    color: white;
}

.box3 p{
    background-color: #bcb3b3;
    display: inline-block;
    margin:-5px 0px;
    padding: 20px;
    width: 410px;
    height: 140px;
}

.box3 h4{

    height: 20px;
    padding: 5px;
    color: white;

}

.p1{
    display: inline-block;
    border-style: double;
    background-color: #bcb3b3;
    width: 425px;
    height: 270px;
    margin: 0px;
    padding: 10px;

}

.box3 h5{
    display: inline-block;
    width: 100px;
    height: 10px;
    background-color: #0B614B;
    color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 0px 100px 50px 150px;
}



/*family contacts */
.box4{
    background-color: #a9a9ae;
    width: 450px;
    height: 800px;
    margin: 30px;
    border-style: double;
    display: inline-block;
    float: left;
}

.box4 h3{
    width: 410px;
    height: 20px;
    padding: 5px;
    color: white;
}

.box4 p{
    background-color: #bcb3b3;
    display: inline-block;
    margin:-5px 0px;
    padding: 20px;
    width: 410px;
    height: 140px;
}

.box4 h4{

    height: 20px;
    padding: 5px;
    color: white;

}

.box4 h5{
    display: inline-block;
    width: 100px;
    height: 10px;
    background-color: #0B614B;
    color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 0px 100px 50px 150px;
}

/*box 5 */

.box5{
    background-color: #a9a9ae;
    width: 450px;
    height: 800px;
    margin: 30px;
    border-style: double;
    display: inline-block;
    float: left;
}
.box5 h3{
    width: 410px;
    height: 20px;
    padding: 5px;
    color: white;
}

.box5 p{
    background-color: #bcb3b3;
    display: inline-block;
    margin:-5px 0px;
    padding: 20px;
    width: 410px;
    height: 140px;
}

.box5 h4{

    height: 20px;
    padding: 5px;
    color: white;

}

.box5 h5{
    display: inline-block;
    width: 100px;
    height: 10px;
    background-color: #0B614B;
    color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 0px 100px 50px 150px;
}


.image{
    float: left;
    display: inline-block;
    margin: 5px;
    padding: 10px;
}
.footer{
    display: inline-block;
    background-color:#f6f6f6;
    position: relative;
    width:100%;
    height: 100%;
    margin: 0px;
}
